/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .corner-linear-gradient-horizontal-overlay {
    background-color: #FFFFFF00;
    background-image: linear-gradient(
      90deg, #FFFFFF00 27%, #FFFFFF40 38%, #FFFFFF00 51%, #FFFFFF00 86%, #FFFFFF40 93%, #FFFFFF99 100%
      );
  }

  .corner-linear-gradient-vertical-overlay {
    background-color: #FFFFFF00;
    background-image: linear-gradient(
      180deg, #FFFFFF00 27%, #FFFFFF40 38%, #FFFFFF00 51%, #FFFFFF00 86%, #FFFFFF40 93%, #FFFFFF99 100%
      );
  }

  .divider-linear-gradient-horizontal-overlay {
    background-color: #FFFFFF00;
    background-image: linear-gradient(
      90deg, #FFFFFF00 27%, #FFFFFF40 38%, #FFFFFF00 51%, #FFFFFF00 86%, #FFFFFF40 93%, #FFFFFF99 100%
      );
  }

  .divider-linear-gradient-vertical-overlay {
    background-color: #FFFFFF00;
    background-image: linear-gradient(
      0deg, #FFFFFF40 0%, #FFFFFF00 20%, #FFFFFF40 38%, #FFFFFF00 41%, #FFFFFF00 76%, #FFFFFF40 86%, #FFFFFF99 100%
      );
  }

  .nav-icon-gradient {
    background: linear-gradient(#8C90FA, #CBCDFD);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .modal-shadow {
    box-shadow: 0px 0px 8px 2px var(--tw-shadow-color), 1px 1px 10px -2px #D9D9DC;
  }

  .drawer-shadow {
    box-shadow: 3px 0px 8px 2px var(--tw-shadow-color), 4px 0px 10px -2px #D9D9DC;
  }

  .input-focus:focus {
    box-shadow: 0px 0px 1px 2px var(--tw-shadow-color), 0px 0px 12px 2px var(--tw-shadow-color);
    outline: none;
    background-color: #D9D9DC;
  }
}

@layer components {
  
}
